<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ReviewMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Review">
    <result column="REVIEW_ID" jdbcType="VARCHAR" property="reviewId" />
    <result column="BLOG_ID" jdbcType="VARCHAR" property="blogId" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="REVIEW_RATE" jdbcType="VARCHAR" property="reviewRate" />
    <result column="REVIEW_HOT" jdbcType="VARCHAR" property="reviewHot" />
    <result column="REVIEW_DATE" jdbcType="VARCHAR" property="reviewDate" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.entity.Review">
    insert into "SHOPPING"."REVIEW" (REVIEW_ID, BLOG_ID, GOODS_ID,
      USER_ID, REVIEW_RATE, REVIEW_HOT, 
      REVIEW_DATE)
    values (#{reviewId,jdbcType=VARCHAR}, #{blogId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{reviewRate,jdbcType=VARCHAR}, #{reviewHot,jdbcType=VARCHAR}, 
      #{reviewDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Review">
    insert into "SHOPPING"."REVIEW"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reviewId != null">
        REVIEW_ID,
      </if>
      <if test="blogId != null">
        BLOG_ID,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="reviewRate != null">
        REVIEW_RATE,
      </if>
      <if test="reviewHot != null">
        REVIEW_HOT,
      </if>
      <if test="reviewDate != null">
        REVIEW_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reviewId != null">
        #{reviewId,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reviewRate != null">
        #{reviewRate,jdbcType=VARCHAR},
      </if>
      <if test="reviewHot != null">
        #{reviewHot,jdbcType=VARCHAR},
      </if>
      <if test="reviewDate != null">
        #{reviewDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>