<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.po.Goods">
    <id column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_RATE" jdbcType="VARCHAR" property="goodsRate" />
    <result column="GOODS_IMG_URL" jdbcType="VARCHAR" property="goodsImgUrl" />
    <result column="GOODS_ORIGINAL_PRICE" jdbcType="VARCHAR" property="goodsOriginalPrice" />
    <result column="GOODS_CURRENT_PRICE" jdbcType="VARCHAR" property="goodsCurrentPrice" />
    <result column="GOODS_SEASON" jdbcType="VARCHAR" property="goodsSeason" />
    <result column="GOODS_DESCRIPTION" jdbcType="VARCHAR" property="goodsDescription" />
    <result column="GOODS_AMOUNT" jdbcType="VARCHAR" property="goodsAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GOODS_ID, GOODS_NAME, GOODS_RATE, GOODS_IMG_URL, GOODS_ORIGINAL_PRICE, GOODS_CURRENT_PRICE, 
    GOODS_SEASON, GOODS_DESCRIPTION, GOODS_AMOUNT
  </sql>
  <select id="selectByExample" parameterType="com.mybatis.po.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GOODS
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GOODS
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatis.po.GoodsExample">
    delete from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatis.po.Goods">
    insert into GOODS (GOODS_ID, GOODS_NAME, GOODS_RATE, 
      GOODS_IMG_URL, GOODS_ORIGINAL_PRICE, GOODS_CURRENT_PRICE, 
      GOODS_SEASON, GOODS_DESCRIPTION, GOODS_AMOUNT
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsRate,jdbcType=VARCHAR}, 
      #{goodsImgUrl,jdbcType=VARCHAR}, #{goodsOriginalPrice,jdbcType=VARCHAR}, #{goodsCurrentPrice,jdbcType=VARCHAR}, 
      #{goodsSeason,jdbcType=VARCHAR}, #{goodsDescription,jdbcType=VARCHAR}, #{goodsAmount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.po.Goods">
    insert into GOODS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="goodsRate != null">
        GOODS_RATE,
      </if>
      <if test="goodsImgUrl != null">
        GOODS_IMG_URL,
      </if>
      <if test="goodsOriginalPrice != null">
        GOODS_ORIGINAL_PRICE,
      </if>
      <if test="goodsCurrentPrice != null">
        GOODS_CURRENT_PRICE,
      </if>
      <if test="goodsSeason != null">
        GOODS_SEASON,
      </if>
      <if test="goodsDescription != null">
        GOODS_DESCRIPTION,
      </if>
      <if test="goodsAmount != null">
        GOODS_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsRate != null">
        #{goodsRate,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgUrl != null">
        #{goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsOriginalPrice != null">
        #{goodsOriginalPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsCurrentPrice != null">
        #{goodsCurrentPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsSeason != null">
        #{goodsSeason,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null">
        #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null">
        #{goodsAmount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatis.po.GoodsExample" resultType="java.lang.Integer">
    select count(*) from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update GOODS
    <set>
      <if test="record.goodsId != null">
        GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null">
        GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsRate != null">
        GOODS_RATE = #{record.goodsRate,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsImgUrl != null">
        GOODS_IMG_URL = #{record.goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsOriginalPrice != null">
        GOODS_ORIGINAL_PRICE = #{record.goodsOriginalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCurrentPrice != null">
        GOODS_CURRENT_PRICE = #{record.goodsCurrentPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSeason != null">
        GOODS_SEASON = #{record.goodsSeason,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsDescription != null">
        GOODS_DESCRIPTION = #{record.goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAmount != null">
        GOODS_AMOUNT = #{record.goodsAmount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update GOODS
    set GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      GOODS_RATE = #{record.goodsRate,jdbcType=VARCHAR},
      GOODS_IMG_URL = #{record.goodsImgUrl,jdbcType=VARCHAR},
      GOODS_ORIGINAL_PRICE = #{record.goodsOriginalPrice,jdbcType=VARCHAR},
      GOODS_CURRENT_PRICE = #{record.goodsCurrentPrice,jdbcType=VARCHAR},
      GOODS_SEASON = #{record.goodsSeason,jdbcType=VARCHAR},
      GOODS_DESCRIPTION = #{record.goodsDescription,jdbcType=VARCHAR},
      GOODS_AMOUNT = #{record.goodsAmount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.po.Goods">
    update GOODS
    <set>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsRate != null">
        GOODS_RATE = #{goodsRate,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgUrl != null">
        GOODS_IMG_URL = #{goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsOriginalPrice != null">
        GOODS_ORIGINAL_PRICE = #{goodsOriginalPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsCurrentPrice != null">
        GOODS_CURRENT_PRICE = #{goodsCurrentPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsSeason != null">
        GOODS_SEASON = #{goodsSeason,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null">
        GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null">
        GOODS_AMOUNT = #{goodsAmount,jdbcType=VARCHAR},
      </if>
    </set>
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.po.Goods">
    update GOODS
    set GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_RATE = #{goodsRate,jdbcType=VARCHAR},
      GOODS_IMG_URL = #{goodsImgUrl,jdbcType=VARCHAR},
      GOODS_ORIGINAL_PRICE = #{goodsOriginalPrice,jdbcType=VARCHAR},
      GOODS_CURRENT_PRICE = #{goodsCurrentPrice,jdbcType=VARCHAR},
      GOODS_SEASON = #{goodsSeason,jdbcType=VARCHAR},
      GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      GOODS_AMOUNT = #{goodsAmount,jdbcType=VARCHAR}
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.mybatis.po.Goods">
    <id column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_RATE" jdbcType="VARCHAR" property="goodsRate" />
    <result column="GOODS_IMG_URL" jdbcType="VARCHAR" property="goodsImgUrl" />
    <result column="GOODS_ORIGINAL_PRICE" jdbcType="VARCHAR" property="goodsOriginalPrice" />
    <result column="GOODS_CURRENT_PRICE" jdbcType="VARCHAR" property="goodsCurrentPrice" />
    <result column="GOODS_SEASON" jdbcType="VARCHAR" property="goodsSeason" />
    <result column="GOODS_DESCRIPTION" jdbcType="VARCHAR" property="goodsDescription" />
    <result column="GOODS_AMOUNT" jdbcType="VARCHAR" property="goodsAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GOODS_ID, GOODS_NAME, GOODS_RATE, GOODS_IMG_URL, GOODS_ORIGINAL_PRICE, GOODS_CURRENT_PRICE, 
    GOODS_SEASON, GOODS_DESCRIPTION, GOODS_AMOUNT
  </sql>
  <select id="selectByExample" parameterType="com.mybatis.po.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GOODS
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GOODS
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatis.po.GoodsExample">
    delete from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatis.po.Goods">
    insert into GOODS (GOODS_ID, GOODS_NAME, GOODS_RATE, 
      GOODS_IMG_URL, GOODS_ORIGINAL_PRICE, GOODS_CURRENT_PRICE, 
      GOODS_SEASON, GOODS_DESCRIPTION, GOODS_AMOUNT
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsRate,jdbcType=VARCHAR}, 
      #{goodsImgUrl,jdbcType=VARCHAR}, #{goodsOriginalPrice,jdbcType=VARCHAR}, #{goodsCurrentPrice,jdbcType=VARCHAR}, 
      #{goodsSeason,jdbcType=VARCHAR}, #{goodsDescription,jdbcType=VARCHAR}, #{goodsAmount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.po.Goods">
    insert into GOODS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="goodsRate != null">
        GOODS_RATE,
      </if>
      <if test="goodsImgUrl != null">
        GOODS_IMG_URL,
      </if>
      <if test="goodsOriginalPrice != null">
        GOODS_ORIGINAL_PRICE,
      </if>
      <if test="goodsCurrentPrice != null">
        GOODS_CURRENT_PRICE,
      </if>
      <if test="goodsSeason != null">
        GOODS_SEASON,
      </if>
      <if test="goodsDescription != null">
        GOODS_DESCRIPTION,
      </if>
      <if test="goodsAmount != null">
        GOODS_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsRate != null">
        #{goodsRate,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgUrl != null">
        #{goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsOriginalPrice != null">
        #{goodsOriginalPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsCurrentPrice != null">
        #{goodsCurrentPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsSeason != null">
        #{goodsSeason,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null">
        #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null">
        #{goodsAmount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatis.po.GoodsExample" resultType="java.lang.Integer">
    select count(*) from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update GOODS
    <set>
      <if test="record.goodsId != null">
        GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null">
        GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsRate != null">
        GOODS_RATE = #{record.goodsRate,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsImgUrl != null">
        GOODS_IMG_URL = #{record.goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsOriginalPrice != null">
        GOODS_ORIGINAL_PRICE = #{record.goodsOriginalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCurrentPrice != null">
        GOODS_CURRENT_PRICE = #{record.goodsCurrentPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSeason != null">
        GOODS_SEASON = #{record.goodsSeason,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsDescription != null">
        GOODS_DESCRIPTION = #{record.goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAmount != null">
        GOODS_AMOUNT = #{record.goodsAmount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update GOODS
    set GOODS_ID = #{record.goodsId,jdbcType=VARCHAR},
      GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      GOODS_RATE = #{record.goodsRate,jdbcType=VARCHAR},
      GOODS_IMG_URL = #{record.goodsImgUrl,jdbcType=VARCHAR},
      GOODS_ORIGINAL_PRICE = #{record.goodsOriginalPrice,jdbcType=VARCHAR},
      GOODS_CURRENT_PRICE = #{record.goodsCurrentPrice,jdbcType=VARCHAR},
      GOODS_SEASON = #{record.goodsSeason,jdbcType=VARCHAR},
      GOODS_DESCRIPTION = #{record.goodsDescription,jdbcType=VARCHAR},
      GOODS_AMOUNT = #{record.goodsAmount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.po.Goods">
    update GOODS
    <set>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsRate != null">
        GOODS_RATE = #{goodsRate,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgUrl != null">
        GOODS_IMG_URL = #{goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsOriginalPrice != null">
        GOODS_ORIGINAL_PRICE = #{goodsOriginalPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsCurrentPrice != null">
        GOODS_CURRENT_PRICE = #{goodsCurrentPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsSeason != null">
        GOODS_SEASON = #{goodsSeason,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null">
        GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null">
        GOODS_AMOUNT = #{goodsAmount,jdbcType=VARCHAR},
      </if>
    </set>
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.po.Goods">
    update GOODS
    set GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_RATE = #{goodsRate,jdbcType=VARCHAR},
      GOODS_IMG_URL = #{goodsImgUrl,jdbcType=VARCHAR},
      GOODS_ORIGINAL_PRICE = #{goodsOriginalPrice,jdbcType=VARCHAR},
      GOODS_CURRENT_PRICE = #{goodsCurrentPrice,jdbcType=VARCHAR},
      GOODS_SEASON = #{goodsSeason,jdbcType=VARCHAR},
      GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      GOODS_AMOUNT = #{goodsAmount,jdbcType=VARCHAR}
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </update>
</mapper>